<a href="https://colab.research.google.com/github/poandpo/Datascience-Interview-Questions/blob/master/N511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정규표현식

re.search 함수: 문자열의 처음부터 일치해야 하는것은 아니다

re.match함수:  반드시 문자열의 처음부터 일치

In [1]:
#search(pattern, string, flags=0): string을 통해 스캔하여 정규식 pattern이 일치하는 첫 번째 위치를 찾고, 대응하는 일치 객체를 반환
import re

wordlist = ["color", "colour", "work", "working",
            "fox", "worker", "working"]

for word in wordlist:
        if re.search('col.r', word) : # .은  정규표현식에서는 하나의 문자를 의미합니다 colour 나올려면? -->  'col..r'
                                      # 'col.*r'하면 둘다 나옴 (* 문자 0개 이상이다)
                print (word)

color

In [2]:
regular_expressions = '<html><head><title>Title</title>'
print(len(regular_expressions))

print(re.match('<.*>', regular_expressions).span()) # span: < >과 일치된 문자열의 (시작위치, 끝위치)에 해당하는 튜플을 돌려준다.

print(re.match('<.*>', regular_expressions).group()) #group: <  >과 일치된 문자열을 돌려준다.

32
(0, 32)
<html><head><title>Title</title>

list[:3]는 3 전까지만 출력되는 것처럼 span도 그렇게 나온다는거군요!

In [43]:
import re
regular_expressions = '<title>Title</title>aaaaa'
print(len(regular_expressions))

print(re.match('<.*>', regular_expressions).span()) # span: < >과 일치된 문자열의 (시작위치, 끝위치)에 해당하는 튜플을 돌려준다.

print(re.match('<.*>', regular_expressions).group())

25
(0, 20)
<title>Title</title>

In [5]:
# case 1_1  컴파일
phone = re.compile(r"""
010-    # 핸드폰 앞자리 
\d{4}-  # 중간자리
\d{4}  # 뒷자리
""", re.VERBOSE) # VERBOSE --> 덕분에 주석을 달아서 가독성있게 할 수 있음

In [6]:
# case 1_2
phone = re.compile(r"010-\d{4}-\d{4}")

In [7]:
# case 1_3
info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_object = phone.search(text)
    print(match_object.group())

010-1234-1234
010-5678-5679

# 다양한 메소드

## rjuct
rjust:오른쪽으로 정렬하도록 도와준다.  
rjust를 통해 공백의 수, 공백을 메워줄 문자를 넣어준다.

In [8]:


print("2".rjust(3,"0"))
 
#"50000"
print("50000".rjust(5,"0"))
 
#"00123"
print("123".rjust(5,"0"))
 
#"aa123"
print("123".rjust(5,"a"))

002
50000
00123
aa123

## zfill(width)
:이는 0을 왼쪽에 채워주는 역할

In [9]:
#"002"
print("2".zfill(3))
 
#"50000"
print("50000".zfill(5))
 
#"00123"
print("123".zfill(5))

002
50000
00123

Split

In [10]:
string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [11]:
string_list = string_.split(" ")
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

In [12]:
string_.startswith('Hello') # 이 문자열 인스턴스의 시작 부분과 지정한 문자열이 일치하는지를 확인
string_.endswith('scientist')
string_.endswith('tist')

print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

##얕은 복사(copy())

In [13]:
fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
fruits_copy

{'apple', 'banana', 'cherry'}

In [ ]:
a = {'a': 5, 'b': 4, 'c': 8}
b = a
del b['a']
print(b)
print(a)

In [ ]:
import copy
a = {'a': 5, 'b': 4, 'c': 8}
b = copy.copy(a)
del b['a']
print(b)
print(a)

깊은 복사(deep copy)

In [14]:
import copy
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

list_var[1].append(5)

print(list_var)  # 원래 변수

print(list_var_deepcopy)  # deepcopy : append와 같은 메소드를 써도 값이 변경되지 않음

print(list_var_copy)  # copy : 원본이 변경되었으므로 함께 변경됨

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4, 5]]

# 반복문과 조건문

In [15]:
# case 1
data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44

90
45
32
44

In [16]:
# case 2
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data:
    print(x) # id, first_name, last_name, email, gender, ip_address

id
first_name
last_name
email
gender
ip_address

In [17]:
# case 3
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [19]:
# case 4
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [20]:
# 일반적인 반복문 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
for i in range(len(a)):
   print(a[i],b[i])

1 10
2 20
3 30
4 40
5 50

In [21]:
# zip 함수 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = zip(a,b)
print(list(c))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [22]:
# 반복문과 zip 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]
for x,y,z in zip(a,b,c):
   print(x,y,z)

1 10 100
2 20 200
3 30 300
4 40 400
5 50 500

In [23]:
# break
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [24]:
# continue
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [25]:

# 반복문의 다양한 활용
list_ = [1,2,3,4,5]

def foo(list_):
  print(list_)

print('foo(list_[i])')
for i in range(len(list_)):
    foo(list_[i])

print('foo(element)')
for element in list_:
    foo(element)

foo(list_[i])
1
2
3
4
5
foo(element)
1
2
3
4
5

# 컬렉션 자료형의 내장메소드

## append(), extend(), insert()

In [28]:
li = [11,2,34]

li.append(3)
print(li)
print(len(li))

[11, 2, 34, 3]
4

In [27]:
li = [11,2,34]

li.insert(0,2)
print(li)

li = [11,2,34]

li.insert(len(li),3)
print(li)

[2, 11, 2, 34]
[11, 2, 34, 3]

In [28]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.append(str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [27]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.insert(len(my_list), str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [29]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
    else:
        # while 문을 통해 char = input() 의 입력을 계속해서 받으므로,
        # 입력할 데이터가 끝났으면 아무것도 입력하지 않고 엔터를 입력한다.
        break;

for word in words:
    print(word)

hi
who
are
yiu

HI
WHO
ARE
YIU

In [33]:
values = []
for i in range(100, 300):
    char = str(i)
  
    if (int(char[0])%2==0) and (int(char[2])%2==0):
        values.append(char)

print(",".join(values))

200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

In [34]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce',2 ,5]
list_1.extend(list_2)
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

## del, remove, pop

In [37]:
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2:
        print(i)

print('\n')

list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if i % 2:
        print(i)

12
4
6


11
43

In [15]:
# 이해 완료 ㅠㅠ
list1 = [11, 12, 43, 4, 6]   
for i in list1.copy():
    if not i % 2:  # 0 과 '' 은 False로 취급됨을 확인
        list1.remove(i)
print(list1)

[11, 43]

In [46]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

del my_list[0]
print(my_list)

[99, 2, 3, 4, 5]
[2, 3, 4, 5]

In [47]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop()
print(my_list)

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

## count()와 index()

In [6]:
my_list = ['xyz', 'XYZ', 'abc', 'ABC']
print("Index for xyz : ",  my_list.index( 'xyz' ), my_list)
print("Index for ABC : ",  my_list.index( 'ABC' ), my_list)

Index for xyz :  0 ['xyz', 'XYZ', 'abc', 'ABC']
Index for ABC :  3 ['xyz', 'XYZ', 'abc', 'ABC']

In [3]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  my_list.count( 'xyz' ))
print("Count for ABC : ",  my_list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [8]:
###########################
import math   # 수학과 관련된 함수들을 모아놓은 모듈
def bin_search(li, element):
    bottom = 0
    top = len(li)-1  
    index = -1
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0)) # floor 함수는 실수를 입력하면내림하여 정수를 반환하는 함수
        if li[mid] == element:
            index = mid
        elif li[mid] > element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
-1

In [10]:
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):
   if i not in (0,3,5):
     li = x
     print(li)

24
35
88

In [11]:
def list_update(data):
    new_li=[]
    new_set = set()
    for item in data:
        if item not in new_set:
            new_set.add(item)
            new_li.append(item)

    return new_li

list_test=[120,120,10,20,30,20]
print(list_update(list_test))

[120, 10, 20, 30]

In [20]:
from operator import itemgetter

l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2)))  ## (이름, 성적, 나이) 이름 정렬 -> 성적 정렬  -> 나이 정렬

# 입력 테스트 시, ('dave', 'B', 10) 처럼 아이템인덱스 채워주기

('eun' ,'a', '25')
('yeon', 'c', '23)
('part', 'b', '54')

[("('eun' ", "'a'", " '25')"), ("('part'", " 'b'", " '54')"), ("('yeon'", " 'c'", " '23)")]

In [29]:
##  operator.itemgetter 알기
from operator import itemgetter

students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

result = sorted(students, key=itemgetter(1,0,2)) # 나이 순대로 
print(result)
print(students)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]
[('jane', 22, 'A'), ('dave', 32, 'B'), ('sally', 17, 'B')]

In [34]:
## sort vs sorted

# 1. list.sort()

a1 = [6, 3, 9]
print('a1:', a1)
a2 = a1.sort() # 원본을 정렬하고 수정합니다(in-place)
print('-----정렬 후-----')
print('a1:', a1)
print('a2:', a2)

# 2. sorted(list)
print('\n')
b1 = [6, 3, 9]
print('b1:', b1)
b2 = sorted(b1) # 원본은 유지하고 정렬한 새 리스트를 만듭니다
print('-----정렬 후-----')
print('b1:', b1)
print('b2:', b2)

a1: [6, 3, 9]
-----정렬 후-----
a1: [3, 6, 9]
a2: None


b1: [6, 3, 9]
-----정렬 후-----
b1: [6, 3, 9]
b2: [3, 6, 9]

In [13]:
#########
dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

hi
h,1
i,1

# 람다

In [38]:
# 함수정의
define_word = (lambda word1,define :  word1 * define)

# 함수호출
result = define_word('call_result_',5)

# 결과출력
print(result)

call_result_call_result_call_result_call_result_call_result_

map: 반복가능한 iterable객체를 받아서, 각 요소에 함수를 적용해주는 함수

In [39]:
# 리스트 생성
spelling = ["test1", "test2", "test4 test5", "test3"]

# 람다함수적용
shout_spells = map(lambda item: item + ('!!!'), spelling)

# 리스트형태로 변환
shout_spells_list = list(shout_spells)

# 결과출력
print(shout_spells_list)

['test1!!!', 'test2!!!', 'test4 test5!!!', 'test3!!!']

filter:  특정 조건으로 걸러서 걸러진 요소들로 iterator객체를 만들어서 리턴

In [40]:
# 리스트 생성
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# 람다함수적용
result = filter(lambda member: len(member) > 6, fellowship)

# 리스트형태로 변환
result_list = list(result)

# 결과출력
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']